<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRent: Explore virtual Homes</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_box">
        <div class="black_frame">

            <div class="navigation_bar">

                <div class="nav-logo">
                    <img id="logo_img" src="logo.png">
                </div>

                <div class="nav_option_box">
                    <a class="nav_option" href="./index.html">Home</a>
                    <a class="nav_option" href="#">About us</a>
                    <a class="nav_option" href="#">Services</a>
                    <a class="nav_option" href="#">Contact</a>
                </div>

                <div class="nav_button_box">
                    <a id="login" class="navBtn" href="/Components/AccessPage/Login/login.html">Log in</a>
                    <a id="signup" class="navBtn" href="/Components/AccessPage/Login/login.html">Sign up</a>
                </div>
            </div>

            <div class="middle_content">
                <h1 id="mid_heading">
                    Step Inside Your Future Home<br>
                    360° Virtual Tours for Real Estate
                </h1>

                <p id="mid_para">
                    Why imagine when you can experience? Our 360° virtual tours bring properties to life, letting you <br>
                    explore every corner without leaving your seat. Whether buying, selling, or renting, dive into a new way <br>
                    of viewing real estate and find your perfect match from anywhere, anytime.
                </p>
            </div>

            <div class="exploreBtn_box">
                <a id="exploreBtn" href="/Components/AccessPage/Login/login.html">
                    Explore <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            

        </div>
    </div>

    <div class="second_box">

        <h1 class="abt_heading" id="sec_h1">About us</h1>
        <p class="abt_para" id="sec_p1">Welcome to VRent, where we redefine the way you explore and experience properties. Our platform offers a cutting-edge, immersive 360-degree virtual tour of a wide range of properties, including apartments, rooms, plots of land, societies, and development projects.
            With our technology-driven approach, you can view properties as if you're walking through them in person, from the comfort of your home. Whether you are looking to buy, rent, or invest, our comprehensive listings are designed to cater to your needs, offering detailed insights into the finest properties in your desired location.
            At [Your Website Name], we are committed to transparency, convenience, and innovation, making property exploration seamless and efficient. Step into the future of real estate browsing with us!
        </p>

        <h1 class="abt_heading" id="sec_h2">Services</h1>
        <p class="abt_para" id="sec_p2">At VRent, we provide a wide range of services designed to simplify and enhance your property journey:</p>

        <p class="services_left" id="sev_1"><b class="sev_subHeading">360-Degree Virtual Tours</b><br>Experience properties like never before with our immersive virtual tours. Walk through apartments, rooms, plots, societies, and development projects from any device, anytime.</p>

        <p class="services_left" id="sev_2"><b class="sev_subHeading">Property Listings</b><br>
        Discover a comprehensive database of residential, commercial, and land properties tailored to your buying, renting, or investment needs.</p>

        <p class="services_left" id="sev_3"><b class="sev_subHeading">Verified Property Insights
        </b><br>Get accurate and verified details, including pricing, amenities, and neighborhood information, ensuring complete transparency.</p>

        <p class="services_left" id="sev_4"><b class="sev_subHeading">Detailed Environmental Scans
        </b><br>View panoramic shots of surroundings, including landmarks, roads, and greenery, to better understand the property’s context and connectivity.</p>

        <p class="services_left" id="sev_5"><b class="sev_subHeading">Community and Society Overviews
        </b><br>Get a 360-degree view of entire societies or neighborhoods, including shared amenities like parks, gyms, and clubhouses, giving you a feel of the community vibe.</p>

    </div>

    <div class="footer">
        <div class="foot_center">
            <a href="#" id="foot_a">Get in touch <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>