<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRent: Explore virtual Homes</title>
    <link rel="icon" href="/Components/AccessPage/logo.png">
    <link rel="stylesheet" href="registerStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_box">
        <div class="black_frame">

            <div class="navigation_bar">

                <div class="nav-logo">
                    <img id="logo_img" src="/Components/AccessPage/logo.png">
                </div>


                <div class="nav_button_box">
                    <button id="login" class="navBtn">Log in</button>
                    <button id="signup" class="navBtn">Sign up</button>
                </div>
            </div>

            <div class="login_container">
                <div class="back_btn_box">
                    <a href="/Components/AccessPage/Login/login.html" class="back_btn"><i class="fa-solid fa-chevron-left"></i></a>
                </div>
                <div class="login_heading">Sign Up Now!</div>
                <form action="/Components/AccessPage/Login/login.html">
                    <input type="text" name="username" class="username_input" id="form_username" placeholder="Username">
                    <input type="email" name="username" class="username_input" id="form_email" placeholder="Email">
                    <input type="password" name="password" class="username_input pass_input" id="form_pass" placeholder="Password">
                    <input type="password" name="password" class="username_input pass_input" id="form_cnf_pass" placeholder="Confirm your Password">
                    <br>
                    <button class="username_input login_btn">Agree and Register</button>
                </form>
            </div>
            
            

        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>