<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VRent: Explore virtual Homes</title>
        <link rel="icon" href="logo2.png">
        <link rel="stylesheet" href="property1Style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="main_frame">
        <div class="side_panel">
            <div class="profile_panel">
                <img src="/Components/Property_View/profile.JPG" alt="profile" id="profile_img">
                <p id="profile_name">User</p>
                <p id="profile_username">@username</p>
            </div>
            <div class="side_panel_options">

                <div class="panel_option_box">
                    <div class="panel_options"><i class="fa-solid fa-house"></i> Discover</div>
                    <div class="panel_options"><i class="fa-solid fa-message"></i> Inbox</div>
                    <div class="panel_options"><i class="fa-solid fa-wallet"></i> My Wallet</div>
                    <div class="panel_options"><i class="fa-solid fa-bell"></i> Notifications</div>
                    <div class="panel_options"><i class="fa-solid fa-gear"></i> Settings</div>
                </div>

                <div class="bottom_panel_box">
                    <div class="bottom_panel_options" id="support"><i class="fa-regular fa-circle-question"></i> Help & Support</div>
                    <div id="logout" class="bottom_panel_options" onclick="location.href='/Components/LandingPage/index.html'"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</div>

                </div>
                
            </div>
        </div>
        <div class="nav_options">
            <a>360 view of Propety</a>
        </div>
        <div class="main_contents">

            <div class="pano_content_box">
                <p id="note">Note: Loading Images may take a while</p>

                <h2 id="street_view" class="pano_heads">Street View</h2>
                <div class="panorama_contents">
                    <iframe class="panorama" src="https://www.google.com/maps/embed?pb=!4v1734383032434!6m8!1m7!1s6kn4XVCqOu4jyOPfg5asRA!2m2!1d23.25276392417315!2d77.4570318133284!3f13.599169775328988!4f5.186063220416372!5f0.7820865974627469" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <h2 id="street_view" class="pano_heads">Front View</h2>
                <div class="panorama_contents">
                    <img class="panorama" src="Front_view.png" style="background-size: cover;">
                </div>

                <h2 class="pano_heads">Rooms</h2>
                <div class="panorama_contents">
                    <iframe class="panorama" src="https://momento360.com/e/u/00c82e5c629049f3b00648282afe7834?utm_campaign=embed&utm_source=other&heading=-305.99&pitch=11.54&field-of-view=75&size=medium&autoplay-annotations=true&display-plan=true&open-plan=true" frameborder="0"></iframe>
                </div>

                <h2 class="pano_heads">Ground Floor Hall</h2>
                <div class="panorama_contents">
                    <iframe class="panorama" src="https://momento360.com/e/u/205a714c619a4b41be41ba50d740a6b3?utm_campaign=embed&utm_source=other&heading=63.37&pitch=-9.17&field-of-view=74&size=medium&autoplay-annotations=true&display-plan=true" frameborder="0"></iframe>
                </div>

                <h2 class="pano_heads">Kitchen</h2>
                <div class="panorama_contents">
                    <iframe class="panorama" src="https://momento360.com/e/u/228eb60b7ae949dd89f3ec48548cf6ab?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium&display-plan=true" frameborder="0"></iframe>
                </div>
                <button id="buy_btn" onclick="location.href='/Components/Buy_form/buyForm.html'">Buy Now</button>
                
            </div>

        </div>

        
    </div>
</body>
</html>